
.header{
    padding: 0rem 1.25rem;
    .header__bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0rem;
    }

    .header__hero{
        width: 100%;
        height: auto;

        .header__figure{
            width: 100%;
            height: auto;
            .header__heroimage{
                width: 100%;
                height: auto;
            }
        }
    }
}