$theme-background-gray: #e5e5e7;
$theme-background-black: #212529;

/*Fonts */
$fonts-color-primary:#403d39;
$title-h1-color:#343a40;
$subtitle-h2-color:#000;
$anchor-footer-color:#6c757d;
$paragrahps-footer-color:#fff;
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 2.4rem;
}
.header, .escrow{
    background-color: $theme-background-gray;
}
.header__logo{
    font-weight: bold;
    color: $subtitle-h2-color;
    font-size: 1.8rem;
}
.footer{
    background-color: $subtitle-h2-color;
}



