$theme-background-gray: #f4f4f7;
$theme-background-black: #212529;

/*Fonts */
$fonts-color-primary:#403d39;
$title-h1-color:#343a40;
$subtitle-h2-color:#000;
$anchor-footer-color:#6c757d;
$paragrahps-footer-color:#fff;
h1{
    font-size: 2.6rem;
}
h2{
    font-size: 2.2rem;
}



