
@import '../theme/themes';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Cabin', sans-serif;
}
a{
    text-decoration: none;
    color: #403d39;
}
p{
    font-size: 1.4rem;
    padding: 8px 0px;
    color: $fonts-color-primary;
    width: 100%;
    font-weight: 400;
}
h1,h2{
    padding: 20px 0px 0px 0px;
}
img{
    width: 100%;
    height: auto;
}
div{
    padding: .625rem 0rem;
}
input{
    color: $paragrahps-footer-color;
    background-color: #000;
    border: none;
    border-radius: 4px;
}