*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cabin', sans-serif;
}
a{
    text-decoration: none;
    color: #403d39;
}
p{
    font-size: 62.5%;
}

header, main, footer{
    min-width: 2rem;
    width: 100%;
    height: auto;
}