
@import '../theme/themes';

/*Navbar*/
.header__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
}

.header__hero{
    width: 100%;
    height: auto;

    .header__figure{
        width: 100%;
        height: auto;
    }
}

.hero__benefits{
    width: 100%;
    height: auto;

    .hero__list{
        list-style: none;

        .hero__item{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
        padding: .625rem 0rem 0.312rem 0rem;

        .hero__checkmark{
            width: 10%;
            height: auto;
            }
        p{
            color: $fonts-color-primary;
            font-weight: bold;
        }
        }
    }
}
.hero__cta{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 15px 0px 40px 0px;


    .hero__input{
        width: auto;
        padding: 15px;
    }
}
.main__socialmedia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    height: auto;
    gap: 5px;

    img{
        width: 33.3%;
        height: auto;
    }
}
.main__benefits{
    width: 100%;
    height: auto;
    padding: 30px 20px 0px 20px;
}

.escrow{
    border-radius: 7px;
}


